@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './config';
@import './responsive';

body{
    font-family: 'Inter', sans-serif;
    font-size: 0.9375rem;
    padding: 1em;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    .logo{
        img{
            width: 70%;
        }
    }

    .menu__list{
        list-style: none;
        display: none;
    }
}

.main{ 
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;


    .one{
        margin: 1rem 0;
        img{
            width: 100%;
        }
    }

    .two{
        h1{
            font-size: 2.65rem;
            font-weight: weights(bold);    
            color: $very-dark-blue;
        }
    }

    .three{
        p{
            color: $dark-grayish-blue;
            line-height: 1.75;
        }

        button{
            border: 0;
            outline: 0;
            background-color: $soft-red;
            color: $off-white;
            margin: 1.5rem 0;
            padding: 1rem 2rem;
            text-transform: uppercase;
            letter-spacing: .3rem;
            font-weight: weights(regular);

            &:hover{
                cursor: pointer;
                background-color: $very-dark-blue;
            }
        }
    }

    .four{
        background-color: $very-dark-blue;
        padding: 1.5rem;
        margin: 2.5rem 0;

        h2{
            color: $soft-orange;
            margin: .5rem 0;
            padding-bottom: 1rem;
            font-size: 2rem;
        }

        h3{
            color: $off-white;
            font-weight: weights(regular);
            margin: 1rem 0;

            &:hover{
                cursor: pointer;
                color: $soft-orange;
            }
        }

        p{
            color: $grayish-blue;
            line-height: 1.75;
        }

        hr{
            border: 0;
            height: 0.0625rem;
            background-color: $dark-grayish-blue;
            margin: 2rem 0;
        }
    }

    .item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1.5rem;
        margin: 1rem 0;

        .left{
            img{
                width: 100%;
            }
        }

        .right{
            .number{
                font-size: 2rem;
                color: $grayish-blue;
                font-weight: weights(regular);
            }

            .heading{
                color: $very-dark-blue;
                font-weight: weights(bold);
                font-size: 1.15rem;
                margin: .7rem 0;

                &:hover{
                    cursor: pointer;
                    color: $soft-red;
                }
            }

            .paragraph{
                color: $dark-grayish-blue;
                line-height: 1.7;
            }
        }
        
    }
}

